:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 500;
  font-size: 20px; 
  background-color: #f1eee1;
}

h1, h2, h3 {
  color: black;
  font-weight: 700;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

label {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

button {
  background-color: rgb(244, 187, 113);
  color: black;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(230, 168, 90);
  transform: scale(1.05);
  transition: all 0.2s ease;
}


input, textarea, select {
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  width: 100%;
}

body {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
